
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-dark-gray: hsl(0, 0%, 55%);
$color-very-dark-gray: hsl(0, 0%, 41%);
$breakpoint: 600px;
$nav-top-margin-mobile: 1rem;
$nav-top-margin-desktop: 2rem;
@mixin typography($sz,$fm,$wt,$lh,$ls) {
    font-size: $sz;
    font-family: $fm, Arial, Helvetica, sans-serif;
    font-weight: $wt;
    line-height: $lh;
    letter-spacing: $ls;
}

:root {
    box-sizing: border-box;    
    font-family: 'Alata', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: $color-white;
}
picture > img {
    width: 100%;
}
header {
    position: relative;
    picture {
        position: relative;
        z-index: 0;
    }
    nav {
        width: 100%;
        padding: 0 1rem;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        top: $nav-top-margin-mobile;
        @media (min-width: $breakpoint){
            padding: 0 8rem;
        }
        .menu {
            width: 100%;
            height: 660px;
            background-color: $color-black;
            position: absolute;
            display: none;
            flex-direction: column;
            align-items: start;
            gap: 1rem;
            color: $color-white;
            z-index: 1;
            top: -$nav-top-margin-mobile;
            left: 0;
            padding: 12rem 1rem 0rem 1rem;
            @include typography(24px, 'Josefin Sans', 200, 25px, 0);
            // font-size: 24px;
            // line-height: 25px;
            // font-family: 'Josefin Sans';
            // font-weight: 200;
            @media (min-width: $breakpoint){
                font-size: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: auto;
                height: auto;
                background-color: transparent;
                position: static;
                padding: 0;
            }
        }
        .menu.show {
            display: flex;
        }
        #hamburger {
            display: inline-block;
            position: relative;
            z-index: 0;
            &:hover, &:focus {
                cursor: pointer;
            }
            @media (min-width: $breakpoint){
                display: none;
            }
        }
        #close-icon {
            display: none;
            position: relative;
            z-index: 1;
            &:hover, &:focus {
                cursor: pointer;
            }
            @media (min-width: $breakpoint){
                display: none;
            }
        }
        .company-logo {
            position: relative;
            z-index: 2;
            width: 50%;
            @media (min-width: $breakpoint){
                width: 15%;
            }
        }
    }
    nav.show {
        .menu {
            display: flex;
        }
        #close-icon {
            display: inline-block;
        }
    }
    h1 {
        text-transform: uppercase;
        // font-size: 40px;
        // font-weight: 200;
        // line-height: 38px;
        // font-family: 'Josefin Sans';
        @include typography(40px, 'Josefin Sans', 200, 38px, 0);
        border: solid 1pt $color-white;
        color: $color-white;
        padding: 1rem;
        margin: 0 1rem;
        position: absolute;
        top: 34%;
        z-index: 0;
        @media (min-width: $breakpoint){
            @include typography(72px, 'Josefin Sans', 200, 70px, 0);
            width: 45%;
            left: 8rem;
            margin: 0;
        }
    }
}
.company-logo {
    width: 50%;
    @media (min-width: $breakpoint){
        width: 25%;
    }
}
h2 {
    text-transform: uppercase;
    // font-size: 32px;
    // line-height: 32px;
    // font-weight: 200;
    // font-family: 'Josefin Sans';
    @include typography(32px, 'Josefin Sans', 200, 32px, 0);
    color: $color-black;
}
.caption {
    @include typography(15px, 'Alata', 400, 25px, 0);
    color: rgba($color-black, .5);
}
.copy-right {
    @include typography(15px, 'Alata', 400, 25px, 0);
    color: rgba($color-white, .5);
}
section {
    margin: 5rem 1rem;
    @media (min-width: $breakpoint){
        margin: 5rem 8rem;   
    }
}
// section > * {
//     text-align: center;
// }
.interactive {
    position: relative;
    * + * {
        margin-top: 2rem;
    }
    h2, p {
        padding: 0 1.5rem;
        text-align: center;
    }
    @media (min-width: $breakpoint){
        picture > img {
            width: 63%;
        }
        h2 {
            font-size: 48px;
            line-height: 48px;
        }
        .description {
            width: 50%;
            padding: 5rem 0rem 0rem 5rem;
            background-color: $color-white;
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: left;
        }
    }
}
.creations {
    position: relative;
    h2 {
        margin-bottom: 3rem;
        @media (min-width: $breakpoint){
            margin-bottom: 0;
        }
    }
    .see-all {
        display: block;
        position: absolute;
        bottom: -4rem;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 0.5rem 2rem;
        border: solid 1pt rgba($color-black, .5);
        text-transform: uppercase;
        font-family: 'Alata';
        font-size: 14px;
        letter-spacing: 5px;
        @include typography(14px, 'Alata', 400, 14px, 5px);

        &:hover, &:focus {
            background-color: $color-black;
            color: $color-white;
            cursor: pointer;
        }
        @media (min-width: $breakpoint){
            display: inline-block;
            position: static;
            margin: 0;
            transform: none;
        }
    }
    .creations-header {
        @media (min-width: $breakpoint){
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 3rem;
        }
    }
}
.gallery {
    @media (min-width: $breakpoint){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 1rem;
    }
}
.creation {
    position: relative;
    margin-bottom: 1rem;
    span {
        text-transform: uppercase;
        // font-size: 1.5rem;
        // font-family: 'Josefin Sans';
        // font-weight: 200;
        @include typography(1.5rem, 'Josefin Sans', 200, 1.5rem, 0);
        color: $color-white;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        width: 33%;
        @media (min-width: $breakpoint){
            width: 75%;
            font-size: 2rem;
            line-height: 2rem;
            left: 2rem;
            bottom: 2rem;
        }
    }
    img:hover, img:focus {
        filter: brightness(150%);
        cursor: pointer;
    }
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: $color-black;
    color: $color-white;
    margin-top: 10rem;
    padding: 2rem;
    @media (min-width: $breakpoint){
        flex-direction: row;
        justify-content: space-between;
        // align-items: end;
        padding: 2rem 8rem;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        @media (min-width: $breakpoint){
            align-items: start;
        }
        // img {
        //     display: block;
        //     margin: 1rem auto;
        // }
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        @media (min-width: $breakpoint){
            flex-direction: row;
        }
    }
    .company-logo {
        width: 50%;
        // @media (min-width: $breakpoint){
        //     width: 25%;
        // }
    }
    .social-media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        @media (min-width: $breakpoint){
            align-items: end;
        }
    }
    .social-media {
        img {
            padding: 0.5rem;
            border-bottom: solid 1pt transparent;
            &:focus, &:hover {
                border-color: $color-white;
            }
        }
    }
}
a {
    border-bottom: solid 1pt transparent;
}
a:hover, a:focus {
    border-color: $color-white;
    cursor: pointer;
}
